[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
db-sqlite3 = "*"
pyrad = "*"
asyncio = "*"
pytest = "*"
python_arptable = "*"
quota_manager = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"